@using Vetero.Shared.ViewModels.Rapid.ForecastItems;

<h1 class="text-center exotic">Dane pogodowe</h1>
<div class="row mb-4">
    <div class="col-md-12">
        <h2 class="d-inline me-2">Aktualna pogoda dla @forecast.location.name</h2>

        <div class="row row-cols-1 row-cols-md-5 g-4">
            <div class="col">
                <WeatherCard WeatherDescription="@avgCurrent.day.condition.text"
                                Temperature="@avgCurrent.day.avgtemp_c"
                                TemperatureFeelsLike="@forecast.current.feelslike_c"
                                TemperatureMax="@avgCurrent.day.maxtemp_c"
                                TemperatureMin="@avgCurrent.day.mintemp_c"
                                Humidity="@avgCurrent.day.avghumidity"
                                WindSpeed="@avgCurrent.day.avgvis_km" />
            </div>
        </div>
    </div>
</div>

@foreach (var date in forecastDay.Select(l => l.date).Distinct())
{
    <div class="row mb-4">
        <div class="col-md-12">
            <h2>Weather forecast for @date)</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                @foreach (var item in forecastDay
                .Where(l => l.date == date)
                .OrderBy(l => l.date))
                {
                    <div class="col">
                        <WeatherCard DateTime="@item.date"
                                WeatherDescription="@item.day.condition.text"
                                Temperature="@item.day.avgtemp_c"
                                TemperatureFeelsLike="@item.hour.FirstOrDefault().feelslike_c"
                                TemperatureMax="@item.day.maxtemp_c"
                                TemperatureMin="@item.day.mintemp_c"
                                Humidity="@item.day.avghumidity"
                                WindSpeed="@item.day.avgvis_km" />
                    </div>
                }
            </div>
        </div>
    </div>
}
@code {
    [Parameter] public ForecastWeather forecast { get; set; }
    [Parameter] public IEnumerable<Forecastday> forecastDay { get; set; }
    [Parameter] public Forecastday avgCurrent { get; set; }
}
